* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    min-width: 1000px;
    border-spacing: 0;
    font-family: sans-serif;
}

table thead td {
    background-color: #eee;
    color: #333;
    font-weight: bold;
    padding: 20px;
}

table tbody td {
    border-top: 1px solid #eee;
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

table tbody tr:hover td {
    background-color: #faf7f7;
}

table tbody tr td:last-child {
    border-right: 1px solid #eee;
}